USE [master]
GO
/****** Object:  Database [QuanLySach]    Script Date: 4/30/2021 6:48:08 PM ******/
CREATE DATABASE [QuanLySach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySach', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLySach.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLySach_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLySach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySach]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 4/30/2021 6:48:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Author] [nvarchar](100) NULL,
	[PublicYear] [datetime] NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([ID], [Title], [Author], [PublicYear], [Price]) VALUES (1, N'Sach 1', N'Tac gia sach 1', CAST(N'2017-08-02T00:00:00.000' AS DateTime), 40000)
INSERT [dbo].[Book] ([ID], [Title], [Author], [PublicYear], [Price]) VALUES (3, N'Sach 2', N'Tac gia sach 2', CAST(N'2018-08-01T00:00:00.000' AS DateTime), 50000)
INSERT [dbo].[Book] ([ID], [Title], [Author], [PublicYear], [Price]) VALUES (4, N'Sach 3', N'Tac gia sach 3', CAST(N'2016-05-04T00:00:00.000' AS DateTime), 60000)
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
USE [master]
GO
